<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-tidy">Tidy Data for Librarians</h3>
    <ul>
      <li>Using spreadsheet programs for data organization</li>
      <li>dFormatting data tables in Spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">SQL</h3>
    <ul>
      <li>Selecting and sorting data</li>
      <li>Filtering</li>
      <li>Aggregating & calculating values</li>
      <li>Basic quality assurance and control</li>
      <li>Exporting data from spreadsheets</li>
      <li><a href="https://librarycarpentry.org/lc-sql/reference.html">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-fair">FAIR Data and Software</h3>
    <ul>
      <li>Findable</li>
      <li>Accessible</li>
      <li>Interoperable</li>
      <li>Reusable</li>
      <li><a href="https://librarycarpentry.org/lc-fair-research/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-wikidata">Programming in Python</h3>
      <ul>
	<li>What is Wikidata?</li>
	<li>Underlying concepts of Wikidata</li>
	<li>Introduction into editing</li>
	<li>Introduction into querying</li>
        <li><a href="https://librarycarpentry.org/lc-wikidata/reference.html">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
